/.idea/
/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/js/backend.js
/public/css/app.css
/public/css/backend.css
/public/css/error.css
/public/css/general.css
/public/css/property.css
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
