.db--image__upload--container {
    padding: 15px;
}

.db--image__upload {
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-right: 8px;
    text-align: center;
}

.db--image__upload img {
    width: auto;
    height: 100px;
    max-width: 100%;
    display: inline-block;
}
